# use glob syntax.
syntax: glob

*.elc
*.pyc
*~
*.dpyc
*.log
*.class
*.zip
*.dtl.py
*.js.py
*.bat
dist
tmp
*/default.db
docs/dl/*
docs/_autosummary/
.build
htmlcov
*.egg-info
.DS_Store
.idea
